.root {
    -fx-background-color: #101B27;
}
/*-fx-background-color: linear-gradient(to bottom, #fafafa, #94bbe9);-fx-background-radius: 15 15 25 25;*/
.mainPane {
    -fx-background-color: #101B27;

}
.titlePane {
    -fx-background-color: rgba(112, 135, 157, 0.6);
    -fx-background-radius: 10 10 3 3;
}
.labelText {
    -fx-alignment: center;
}

.fieldBackground {
    -fx-background-color: rgba(112, 135, 157, 0.21);
    -fx-background-radius: 4;
}
.userBoard {
    -fx-background-color: #222;
    -fx-padding: 5;
}

.rotate {
    -fx-background-color: rgba(112, 135, 157, 0.6);
    -fx-background-radius: 8;
}

.console {
    -fx-background-color: #101B27;
    -fx-text-fill: white;
    -fx-border-radius: 2;
}

.consoleText {
    -fx-background-color: #101B27;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.loginPane {
    -fx-alignment: center;
}

